/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/
/public/js/
/public/fonts/vendor
/public/images/vendor
/public/web.config
public/mix-manifest.json
tsconfig.json
.idea
.DS_Store
/public/*.js

/.project
.docker-sync
/jenkins/jenkins_home

/logstash/pipeline/*.conf
/logstash/config/pipelines.yml

/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml

docker-compose.custom.yml
/logs
