// Body
$body-bg: #f8fafc;

:root {
  --accent: #fcb602;
  --dark-grey: #484848;
  --grey: #646464;
  --black: #281605;
  --textcolor: #3a3b36;
  --main: #3a3d61;
  --dark: #3a3d61;
  --red: #f87266;
  --light: #c8ccd7;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Open Sans', sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
}
